<!-- {{#each crews as |crew|}} -->


<!-- <label class="checkbox-inline">
<input class="col-md-2 pad-5 crew-check-boxes" type="checkbox" data-id="{{crew.id}}" value="{{crew.full_name}}">{{crew.full_name}}
</label>

{{/each}} -->

<!--
<select class="selectpicker" multiple>

{{#each crews as |crew|}}

<option value="{{crew.id}}">{{crew.full_name}}</option>

{{/each}}

</select> -->
